<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel - Add Movie</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/css/app.css}" rel="stylesheet">
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" th:href="@{/images/static-images/logo.png}"/>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div th:replace="fragments/navbar :: admin-sidebar"></div>

            <!-- Main Content -->
            <div class="col-md-9 main-content" style="padding-bottom: 0">
                <div th:replace="fragments/navbar :: admin-navbar"></div>

                <div class="container" style="overflow: hidden; overflow-y: scroll; height: 770px">
                    <div class="row justify-content-center">
                        <div class="col-md-6">

                            <h2 class="mb-4 text-center">Add a Movie to the Database</h2>

                            <p th:if="${bad_credentials}" class="error alert alert-danger">
                                Invalid credentials for populating the information.
                            </p>

                            <form class="register-form"
                                  th:action="@{/admin/add/movie}"
                                  th:method="POST"
                                  th:object="${movieAddDataTransferObject}"
                                  enctype="multipart/form-data">

                                <div class="form-group">
                                    <input type="text"
                                           oninput="checkFieldsAddMovie()"
                                           placeholder="Title..."
                                           class="form-control register-form-input"
                                           id="title" name="title"
                                           th:field="*{title}" required>
                                </div>

                                <div class="form-group">
                                    <textarea oninput="checkFieldsAddMovie()"
                                              placeholder="Summary..."
                                              class="form-control register-form-input"
                                              id="summary" name="summary"
                                              th:field="*{summary}">
                                    </textarea>
                                </div>

                                <div class="form-group row">
                                    <div class="col">
                                        <select class="form-control select-styled" id="genres" name="genres">
                                            <option value="" disabled selected>Select a genre...</option>
                                            <option th:each="genre : ${T(bg.softuni.movieapp.model.enums.MovieGenreEnum).values()}" th:value="${genre}" th:text="${genre}"></option>
                                        </select>
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-secondary add-something-button" onclick="addGenre()">Add genre</button>
                                    </div>
                                </div>

                                <div id="additionalGenres"></div>

                                <select class="form-control select-styled filled" id="language" name="language" th:value="*{language}">
                                    <option value="" disabled selected>Select a language...</option>
                                    <option th:each="language : ${T(bg.softuni.movieapp.model.enums.LanguageEnum).values()}" th:value="${language}" th:text="${language}"></option>
                                </select>

                                <!-- Release Date Input -->
                                <div class="form-group">
                                    <input type="date"
                                           oninput="checkFieldsAddMovie()"
                                           placeholder="Release Date..."
                                           class="form-control register-form-input"
                                           id="releaseDate" name="releaseDate"
                                           th:field="*{releaseDate}">
                                </div>

                                <!-- Length Input -->
                                <div class="form-group">
                                    <input type="number"
                                           oninput="checkFieldsAddMovie()"
                                           placeholder="Length..."
                                           class="form-control register-form-input"
                                           id="length" name="length"
                                           th:field="*{length}">
                                </div>

                                <!-- PG Rating Dropdown -->
                                <select class="form-control select-styled filled" id="pgRating" name="pgRating" th:value="*{pgRating}">
                                    <option value="" disabled selected>Select a PG Rating...</option>
                                    <option th:each="pgRating : ${T(bg.softuni.movieapp.model.enums.PGRatingEnum).values()}" th:value="${pgRating}" th:text="${pgRating}"></option>
                                </select>

                                <!-- YouTube Trailer ID Input -->
                                <div class="form-group">
                                    <input type="text"
                                           oninput="checkFieldsAddMovie()"
                                           placeholder="YouTube Trailer ID..."
                                           class="form-control register-form-input"
                                           id="youtubeTrailerID" name="youtubeTrailerID"
                                           th:field="*{youtubeTrailerID}">
                                </div>

                                <div class="form-group">
                                    <input type="text"
                                           oninput="checkFieldsAddMovie()"
                                           placeholder="Studio ID..."
                                           class="form-control register-form-input"
                                           id="studioId" name="studioId"
                                           th:field="*{studioId}">
                                </div>

                                <div class="form-group row">
                                    <div class="col">
                                        <input type="text"
                                               oninput="checkFieldsAddMovie()"
                                               placeholder="Actor Role Id..."
                                               class="form-control register-form-input id-input-field"
                                               id="actorId" name="actorId">
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-secondary add-something-button" onclick="addActorID()">Add Role ID</button>
                                    </div>
                                </div>

                                <div id="additionalActorIDs"></div>

                                <div class="form-group">
                                    <input type="text"
                                           oninput="checkFieldsAddMovie()"
                                           placeholder="Director ID..."
                                           class="form-control register-form-input"
                                           id="directorIDs" name="directorIDs"
                                           th:field="*{directorIDs}">
                                </div>

                                <div id="additionalDirectorIDs"></div>

                                <div class="form-group">
                                    <label for="titlePicture" class="custom-file-upload">Add a Title Picture</label>
                                    <input type="file" class="form-control-file input-file" id="titlePicture" name="titlePicture" accept="image/*">
                                </div>

                                <!-- Submit Button -->
                                <button id="addMovieButton" type="submit" class="btn btn-primary" disabled>Add the Movie</button>

                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script th:src="@{/js/registrations.js}"></script>
    <script th:src="@{/js/handleAdminAddMovieButtons.js}"></script>
    <script th:src="@{/js/loadDatesMovie.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
