.navbar-background {
    background-color: #263143 !important;
}

.logout-button {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    background-color: #263143;
    color: #79C300;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: none;
}

.logout-button:hover {
    background-color: #79C300;
    color: #263143;
}

/* Resetting default list styles */
.nav-item {
    list-style: none; /* Remove bullet points */
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}

/* Remove default anchor styles */
.nav-item a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
}