body {
    background-color: #111927;
    color: #fff;
}
.header-heading {
    font-size:  45px;
    font-weight: bold;
}

.green-heading {
    color: #79C300;
}

.background-form-container {
    background-color: #111927;
}


.paragraph-heading {
    color: #a4b1cd !important;
    font-size: 20px;
}

.button-heading {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    width: 20%;
    cursor: pointer;
    background-color: #263143;
    color: #79C300;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: none;
}

.button-heading:hover {
    background-color: #79C300;
    color: #263143;
}

.accept-cookies-container {
    background-color: #111927 !important;
    border: 1px solid #79C300;
}

.accept-cookies-container > p {
    color: #a4b1cd !important;
    font-size: 12px;
}

.accept-cookies-container > h1 {
    color: #fff;
    font-size:  25px;
    font-weight: bold;
}