<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>MovieApp - Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
    <div th:fragment="notification" class="notification" th:id="${notificationId}" th:class="${notificationClass}" th:style="${notificationStyle}">
        <span th:text="${notificationMessage}">Notification Message</span>
    </div>
</body>
