<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MovieApp - Index</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/index-styles.css}" rel="stylesheet">
</head>
<body>

    <div class="container">
        <div class="jumbotron text-center background-form-container">
            <h1 class="header-heading">Welcome to MovieApp</h1>

            <h2 class="green-heading">The #1 Movie Tracking platform.</h2>
            <p class="paragraph-heading">Discover and explore your favorite movies and TV series!</p>

            <div class="mt-4" id="buttonContainer" style="display: none;">
                <a th:href="@{/users/login}" class="btn btn-primary mr-2 button-heading" id="loginButton">Login</a>
                <a th:href="@{/users/register}" class="btn btn-secondary button-heading" id="registerButton">Register</a>
            </div>

            <div class="films-holder">

                <div class="info-holder-films">
                    <h3 class="first">See what we got to offer.</h3>
                    <h3 class="second">Track your movies.</h3>
                    <h3 class="third">Share your thoughts.</h3>
                </div>

                <!-- TODO: Get 3 random movies from the movie repo and use them  -->

            </div>

        </div>
    </div>

    <div id="cookieConsentBanner" class="fixed-bottom bg-dark text-light p-2 text-center accept-cookies-container">
        <h1>This website uses cookies.</h1>
        <p>We use cookies to save state on your computer. No information about you, or your profile goes outside the webpage.</p>
        <button id="acceptCookiesButton" class="btn btn-primary button-heading">Accept Cookies</button>
    </div>

    <script th:src="@{/js/acceptCookies.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>