<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie App</title>
</head>
<body>
    <!-- Header -->
    <header>

    </header>
    
    <!-- Featured Today -->
    <article>

    </article>

    <!-- What to watch -->
    <article>

    </article>

    <!-- From your watchlist -->
    <article>

    </article>

    <!-- Top 10 this week -->
    <article>

    </article>

    <!-- Rescently viewed -->
    <article>

    </article>

    <!-- Footer -->
    <article>
        
    </article>
</body>
</html>